*.d
*.o
*.mk
*.bin
*.map
*.hex
*.afx

GNU_ARM v4.9.3 - Debug/
*.s37
*.layout
*.map
GNU ARM v4.9.3 - Debug/QMSat_Embeded.axf
*.exe
*.depend
*.layout
*.layout
*.mk
*.d
GNU ARM v4.9.3 - Debug/makefile
*.bin
*.hex
*.map
*.s37
*.d
*.o
*.d
*.mk
*.d
*.mk
*.d
GNU ARM v4.9.3 - Debug/makefile
*.bin
*.hex
*.map
*.s37
*.d
*.o
